{% extends 'blog/base.html' %}
{% block content %}
<h2>Login </h2>
<form action='' method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Log in</button>
</form>
{% endblock content %}