{% load static %}
<html>

<head>
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <title>
        Django Blog!
    </title>
</head>

<body>
    <div>
        <header>
            <div class='nav-left'>
            <h1><a href="{%url 'home'%}">Home</a></h1>
            </div>
            <div class='nav-right'>
                <h1>
                    <a href="{% url 'post_new' %}">New Blog Post</a>
                </h1>
            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}</p>
            <a href={% url 'logout' %}>Not you? Log out</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </div>
    <div>
        {% block content %} {% endblock content %}
    </div>
</body>

</html>