{% extends 'blog/base.html' %} {% block content %}
<div class='post-entry'>
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
</div>
<a href="{% url 'edit' post.pk %}">+ Edit Blog Post</a>
<br>
<a href="{% url 'delete' post.pk %}">+ Delete Blog Post</a> {% endblock content %}